*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
    margin: 0px;
}

/*primera navegacion*/
.nav-1{
    display: none;
}

/*navegacion principal- logo*/
nav{
    box-sizing: border-box;
    background-color:  #F0A83E;
    height: 62px;
    width: 100%;
}

.logo{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
  padding-left: 30px;
}

.menu-desplegable{
   margin-right: 20px;
}
.img-nav, nav ul{
    display: none;
}

/*fondo principal*/
.fondo{
    background-image: url(sources/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 409px;  
    width: 100%;
}

/*frases del fondo*/
.frases{
    color: #3C2313;
}

.frase1{
    box-sizing: border-box;
    max-width: 360px;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    position: relative;
    top: 160px;
    font-size: 1.5em;
    font-weight: 400;
    padding: 6px;
}

.frase2{
    position: relative;
    top: 180px;
    background-color: rgba(255,255,255, 0.8);
    width: 260px;
    text-align: center;
    font-size: 1.2em;
}

.frase-1, .frase-2, .boton-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*primer boton*/
.boton1 {
    background-color: #F0A83E;
    text-transform: uppercase;
    text-align: center;
    border: none;
    position: relative;
    top: 200px;
    height: 49px;
}

/*productos destacados*/
.productos-destacados{
    height: 310px;
    margin-top: 300px;
}
.logo-productos{
    display: block;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 40px;
}
 
 .productos-destacados h2{
     text-align: center;
     font-weight: 700;
     font-size: 2.5em;
     color: #3C2313;
}
 
 .productos section img{
     display: block;
     margin: auto;
}
 
 .categorias2{
     margin-top: 20px;
     display: flex;
     justify-content: center;
}
 
 .categorias2 li{
     list-style: none;
     color: #666666;
     padding-right: 15px;
}
 
 .categorias2 a{
     color: #666666;
}
 
/*seccion productos destacados*/
.productos section{
    background-color: rgb(250, 246, 241);
    margin: 0 30px 30px 30px;
}

.nombre-producto{
    color: #3C2313;
    font-weight: bold;
    text-align: center;
}

.precio{
    text-align: center;
    font-weight: bold;
    color: #F0A83E;
}

/*formulario de contacto*/
#contacto{
    margin-top: 1380px;
}

#contacto h3{
    color: #3C2313;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#contacto input{
    width: 50.3% ;
    height: 40px;
    background-color: #3C2313;
    border-radius: 15px;
    border: none;
    color: white;
   display: block;
   margin: auto;
   margin-bottom: 10px;   
}

#contacto ::placeholder{
    color: white;
    padding-left: 20px;
}

/*botones de la seccion contacto*/
.botones-form button{
    width: 110px;
    height: 34px;
    text-align: center;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    margin-top: 20px;
}

.botones-form{
    display: flex;
    justify-content: center;
}
.boton2{
    background-color: #8a8787;
}
.boton3{
    background-color: #F0A83E;
    margin-left: 5px;
}

/*footer*/
footer .suscripcion{
    background-color: #F0A83E;
    height: 111px;
    width: 100%;
    margin-top: 70px;
}
.suscripcion-logo p{
    box-sizing: border-box;
    width: 60%;
    margin: 10px 0 0 10px;
    position: relative;
    bottom: 32px;
    left: 50px;
    font-weight: bold;
    color: white;
}
.suscripcion-logo img{
    margin: 10px 10px 0 10px;
}

.suscripcion-correo{
    display: flex;
}
.suscripcion-correo button{
    background-color: #3C2313;
    position: relative;
    bottom: 12px;
    left: 5px;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 30px;
    border: none;
}

.suscripcion-correo input{
 height: 40px;
 width: 250px;
 border-radius: 15px;
 border: none;
 position: relative;
 bottom: 20px;
 margin-left: 10px;
}

/*segunda parte del footer*/
.informacion-footer{
    height: 450px;
    background-color: #3C2313;
    color: white;
    box-sizing: border-box;
    padding-top: 30px;
}

.texto-footer2{
    display: flex;
}

.info-text{
    margin: 20px
}
.info-text h3{
    font-size: 20px;
}

.info-text p{
    color: #8A8787;
    font-size: 13px;
}

.informacion{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.informacion img{
    height: 80px;
    padding-left: 30px;
}

.logo-footer{
    display: flex;
    justify-content: center;
}
.logo-footer img{
  width: 150px;
  height: 30px;
}

/*footer derechos reservados*/
.ultimo-footer{
    background-color: #222222;
    color: white;
    height:20px;
    font-size: 13px;
    padding-top: 3px;
}

/*media queries*/
@media (min-width:768px){
    /*navegacion 1*/
    .nav-1{
        background-color: #222222;
        height: 20px;
        color: white;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        padding: 0 60px 0 50px;
    }
    
    .idioma select{
      background-color: #222222;
      color: white;
      border: none;
    }
    
    .frases{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .elemtos-fondos{
       margin-right: 30px;
    }

    .boton-1{
        margin-right: 130px;
    }
    
    .categorias2{
        font-size: 20px;
    }

    .suscripcion{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
   }

    .suscripcion-logo p{
       font-size: 18px;
    }

    .suscripcion-logo img{
        margin: 20px 10px 0 10px;
    }
    
    .suscripcion-correo button{
        position: relative;
        top: 35px;
        margin-right: 10px;
        width: 100px;
        font-size: 14px;
    }
    
    .suscripcion-correo input{
     width: 270px;
     padding-left: 10px;
     position: relative;
     top: 30px;
    right: 20px;
    }
    
    .informacion-footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 400px;
    }

    .logo-footer{
        display: flex;
        align-items: center;
    }
}

@media (min-width:1280px){
    .menu-desplegable{
        display: none;
    }

    /*navegacion principal*/
    nav ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
        padding-left: 800px;
        position: relative;
        bottom: 20px;
    }
    
    nav li{
        padding-top: 15px;
    }
    
    .categorias a{
        position: relative;
    }

    /*fondo principal*/
    .fondo{
        background-position-y: -70px;
    }

    .frase1{
        font-size: 28px;
    }

    /*seccion productos*/
    .productos{
        display: flex;
    }
    .productos section{
        width: 500px;
        margin-bottom: 50px;
    }
    
    /*seccion contactanos*/
    #contacto{
        margin-top: 750px;
    }

    /*footer*/
    .suscripcion-logo{
        margin-top: 20px;
    }

    .suscripcion-correo{
        display: flex;
        justify-content: flex-end;
    }

    .suscripcion-correo input{
        width: 350px;
    }

    .informacion{
        position: relative;
        right: 160px;
    }
}
