:root{
    --colorprincipal: #00669F;
    --colorsecundario: #1CD1B0;
    --colortitulo: #000000;
    --colorparrafos: #333333;
    --color-fondo-tarjetas: #F3F3F3;
}

body{
    font-family:  'Roboto', sans-serif;
}

header{
    background-color: var(--colorsecundario);
    height: 38px;
}

/*Elementos del header*/
.text-header p{
    margin: 0;
    padding: 10px 20px;
}

.barra-principal h1{
    background-color: var(--colorprincipal);
    margin: 0;
    height: 101px;
    box-sizing: border-box;
    padding: 30px;
}

/*estilos al main*/
main{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 200px;
    height: 550px;
    margin-left: 50px;
}

/*estilos a las secciones de cada superheroe*/
.batman{ /*nombre de la primera seccion*/
    height: 180px;
    margin-left: 100px;
    margin-right: 90px;
    width: 300px;
}

.contenido{ /*contiene la img de perfil, nombre del super heore y texto descriptivo*/
    background-color: var(--color-fondo-tarjetas);
    position: relative;
    top: 100px;
    height: 390px;
    box-shadow: 0 8px 5px #666;
    
}

.corazon{
  position: relative;
  top: 15px;
  left: 10px;
  z-index: 7;
}

.fondo{ /*fondo de las tarjetas de super heroes*/
    width: 300px;
    height: 193px;
    position: absolute;
    top: 5px;
    z-index: 10px;
}

/*estilos de fotos*/
.foto-perfil{
    position: absolute;
    top: -50px;
    left: 90px;
}

.foto-perfil img{
    border-radius: 50%;
}

/*estilos de los textos*/
.texto-presentacion{
    position: relative;
    top: 100px;
    width: 300px;
    height: 113px;
    box-sizing: border-box;
    
}

.texto-presentacion h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.texto-presentacion p{
    padding: 0px 20px;
    color: var(--colorparrafos);
    font-size: 16px;
}

/*seccion de harley*/
.harley-section{
   margin-right: 90px;
}

.harley{
    left: 90px;
}

/*seccion de batman2*/
.batman2{
   left: 90px;
}

/*botones de ver más*/
button{
  background-color: var(--colorprincipal);
  position: relative;
  top: 200px;
  left: 80px;
  height: 48.52px;
  width: 128.78px;
  border: none;
}

button a{
    color: white;
    text-decoration: none;
}

/*footer*/
footer{
    background-color: var(--colorprincipal);
    color: white;
    position: relative;
    top: 800px;
    height: 51px;
}

footer p{
    padding: 16px;
}